# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

## Objectives:
### ____________ 

*  list data science libraries
* table of Data Science tools
*  convert minutes to hours

Some of the popular languages that Data Scientists use are:

* Python
* R
* Julia

Some of the commonly used libraries used by Data Scientists include:

* Sickit-learn
* Pandas
* NumPy

|Data Science Tools|
|------------------|
|Jupyter notebook |
|Spyder|
|RStudio|

### Below are a few examples of evaluating arithmetic expressions in Python.
### ________________________________________________________________

In [10]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [11]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Moneeb Asim Omer Mohammed